Solar System Configuration File
Sun: ../models/sun.jpg ../models/sphere.obj 0.0025 0 0 30 0
Mercury: ../models/mercury.jpg ../models/sphere.obj 0.0035 0.025 4 .5 0
Venus:  ../models/venus.jpg ../models/sphere.obj 0.0005 0.01 5 1 0
Earth: ../models/test.jpg ../models/sphere.obj 0.02 0.00625 6 1.2 1
Mars: ../models/mars.jpg ../models/sphere.obj 0.02 0.0033 7 0.8 0
Jupiter: ../models/jupiter.jpg ../models/sphere.obj 0.04 0.00052 10 5 1
Saturn: ../models/saturn.jpeg ../models/sphere.obj 0.042 0.00021 12 4.8 0
Uranus: ../models/uranus.jpg ../models/sphere.obj 0.025 0.000074 14 2.4 0
Neptune: ../models/neptune.jpg ../models/sphere.obj 0.026 0.000038 16 2.3 0
Pluto: ../models/pluto.jpg ../models/sphere.obj 0.012 0.0000253 20 .2 0
Moon: ../models/moon.jpg ../models/sphere.obj 0.0 0 0.5 10 0
End
