Solar System Configuration File
All- ../models/sphere.obj
Sun: ../models/sun.jpg 0.0025 0 0 30
Mercury: ../models/mercury.jpg 0.0035 0.005 4 .5
Venus:  ../models/venus.jpg 0.0005 0.002 5 1
Earth: ../models/test.jpg 0.02 0.001 6 1.2
Mars: ../models/mars.jpg 0.02 0.00075 7 0.8
Jupiter: ../models/jupiter.jpg 0.04 0.00005 10 5
Saturn: ../models/saturn.jpeg 0.042 0.000005 12 4.8
Uranus: ../models/uranus.jpg 0.025 0.0000025 14 2.4
Neptune: ../models/neptune.jpg 0.026 0.000000125 16 2.3
Pluto: ../models/pluto.jpg 0.012 0.0000001 20 .2
Moon: ../models/moon.jpg 0.0 0 0.5 0.05
End
