Solar System Configuration File
All- ../models/sphere.obj
Sun: ../models/sun.jpg 0.01 0 0 20
Mercury: ../models/mercury.jpg 0.015 1 10 .5
Venus:  ../models/venus.jpg 0.05 3 3 1
Earth: ../models/earth.jpg 0.03 2 4 1.2
Mars: ../models/mars.jpg 0.04 6 5 0.8
Jupiter: ../models/jupiter.jpg 0.06 5 8 5
Saturn: ../models/saturn.jpeg 0.02 1 10 4.8
Uranus: ../models/uranus.jpg 0.03 1 11 2.4
Neptune: ../models/neptune.jpg 0.017 1 12 2.3
Pluto: ../models/pluto.jpg 0.023 1 14 0.2
Moon: ../models/moon.jpg 0.018 1 0.5 0.05
End
